@import "tailwindcss";
input {
  color: black; /* Make sure this is set to black or removed */
}
:root {
  --background: #fff8f1; /* Light orange background */
  --foreground: #171717;
  --primary: #f97316; /* Orange-500 */
  --primary-accent: #1d4ed8; /* Blue-700 */
  --light-accent: #eff6ff; /* Blue-50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7c2d12; /* Dark orange background */
    --foreground: #ffffff;
    --primary: #fb923c; /* Orange-400 */
    --primary-accent: #3b82f6; /* Blue-500 */
    --light-accent: #172554; /* Dark blue background */
  }
}

body {
  background: var(--background);
  color: var(--orange-700);
  font-family: Arial, Helvetica, sans-serif;
}